h2{
  background: #B8D864;
  width: 210px;
  text-align: center;
}

.box{
  background: #DEA886;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}
.wrapper{
    /* inline block will allow it to be modified by text-align: center in .box
    text-align left resets the way text in its wrapper to be displayed since css is cascading */
    display: inline-block;
    text-align: left;
}
.listObj{
  background: #729023;
  width: 210px;
  text-align: center;
}

.bars{
  padding: 9px;
}

.list-box{
  text-align: center;
}
.list-wrapper{
  min-width: 200px;
  display: inline-block;
  text-align: left;
}
.list-title{
  background: #86A2DE;
  text-align: center;
  padding: 5px;
}
.list-desc{
  background: #6077A8;
  text-align: center;
  padding: 2px;
}
.btn-delete-list{
  background: #C2D1EF;
  text-align: center;
}

.btn-item{
  background: #AD92C6;
  text-align: center;
  width: 200px;
  padding: 10px 0px 10px 0px;
}

.listform{
  background: #C70039;
  width: 150px;
  text-align: center;
  padding-top:5px;
  padding-left: 30px;
  padding-right: 30px;
}
.listform-label{
  width: 200px;
  text-align: center;
  background: #64B4D8;
  padding: 5px;
}
.btn-listform{
  background: #D38451;
  width: 200px;
  margin-left: 5px;
}

.addItem{
  width:193px;
}
